@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap");

.container {
	&:before {
		background-image: url("/vestimenta/paper-bg.webp");
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		gap: 0;
		opacity: 0.18;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		overflow: hidden;
		content: "";
		position: absolute;
		z-index: -1;
	}

	background-color: #000;
	width: 100%;
	height: 100svh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
	flex: none;
	overflow: hidden;
	position: relative;

	.title {
		font-family: Love;
		font-size: 94px;
		font-weight: 400;
		line-height: 112px;
		letter-spacing: -0.04em;
		text-align: center;
		color: #e7e0dc;
	}

	.outfits_container {
		display: flex;
		gap: 52px;
		align-items: center;
	}

	.atuendo {
		display: flex;
		align-items: center;
		gap: 32px;

		&__line {
			width: 1px;
			height: 48px;
			background-color: #e7e0dc;
		}

		span {
			font-family: Stoke;
			font-size: 24px;
			font-weight: 300;
			line-height: 48px;
			letter-spacing: 0.38em;
			text-align: center;
		}
	}

	.paragraph {
		font-family: "League Spartan", sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 32px;
		text-align: center;
		letter-spacing: 2px;

		a {
			font-family:
				League Spartan,
				sans-serif;
			font-size: 18px;
			font-weight: 400;
			line-height: 32px;
			text-align: center;
			text-decoration: underline;
			text-underline: #e7e0dc;
		}
	}
}
