.container{

    &:before {
		background-image: url("/vestimenta/vestimenta.jpg");
        width: 2645px;
        height: 3967px;
        top: -1347px;
        left: -656px;
        gap: 0px;
        opacity: 0.28;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		overflow: hidden;
		content: "";
		position: absolute;
		z-index: -1;
	}

    width: 100%;
    height: 100svh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    flex: none;
    overflow: hidden;
    position: relative;

    .title {
            font-family: Love;
            font-size: 94px;
            font-weight: 400;
            line-height: 112px;
            letter-spacing: -0.04em;
            text-align: center;
            color: #E7E0DC;
        }

    &__box {
        padding: 32px 40px 32px 40px;
        gap: 10px;
        border: 1px solid #E7E0DC;
    }
    .text {
        font-family: Stoke;
        font-size: 28px;
        font-weight: 300;
        line-height: 48px;
        letter-spacing: 1.04em;
        text-align: center;
        color: #E7E0DC;
    }

    .diamond {
        width: 4px; 
        height: 4px;  
        background: #E7E0DC;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .paragraph {
        font-family: League Spartan, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        text-align: center;
        color: #E7E0DC;
        
        b {
			font-weight: 500;
		}
    }
}