@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap");
@import "src/shared/scss/media-queries";
@import "src/shared/scss/animations";

.container {
	&:before {
		background-image: url("/vestimenta/vestimenta.jpg");
		width: 2645px;
		height: 3967px;
		top: -1347px;
		left: -656px;
		gap: 0px;
		opacity: 0.28;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		overflow: hidden;
		content: "";
		position: absolute;
		z-index: -1;

		@include mobile {
			background-image: url("/ninos/kids-mobile.png");
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			opacity: 0.6;
		}
	}

	background-color: rgba(48, 46, 45, 1);
	width: 100%;
	height: 100svh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	flex: none;
	overflow: hidden;
	position: relative;

	@include mobile {
		justify-content: flex-end;
		padding: 32px 32px 64px;
	}

	&__box {
		padding: 32px 40px 32px 40px;
		gap: 10px;
		border: 1px solid #e7e0dc;

		@include mobile {
			padding: 16px 32px;
		}

		.title {
			font-family: Love, sans-serif;
			font-size: 84px;
			font-weight: 400;
			line-height: 90px;
			letter-spacing: -0.04em;
			text-align: center;
			color: #e7e0dc;

			@include mobile {
				font-size: 64px;
				line-height: 72px;
			}
		}
	}

	.line {
		width: 1px;
		height: 124px;
		overflow: hidden;

		@include mobile {
			width: 2px;
			height: 32px;
		}

		&__content {
			width: 100%;
			height: 100%;
			background-color: #e7e0dc;

			&--animation {
				animation: line-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
			}
		}
	}
}

.text {
	max-width: 767px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 18px;

	&__title {
		font-family: Spartan, sans-serif;
		font-size: 15px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: 0.42em;
		text-align: center;
		color: #e7e0dc;

		&--animation {
			animation: fade-in 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
		}
	}

	&__paragraph {
		font-family: Spartan, sans-serif;
		font-size: 15px;
		font-weight: 300;
		line-height: 32px;
		text-align: center;
		color: #e7e0dc;

		&--animation {
			animation: fade-in 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
		}

		b {
			font-family: Spartan, sans-serif;
			font-size: 15px;
			font-weight: 500;
			line-height: 32px;
			text-align: center;
			color: #e7e0dc;
		}
	}
}
