@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "src/shared/scss/media-queries";
@import "src/shared/scss/animations";

.container {
	&:before {
		background-image: url("/itinerario/cloth-bg.webp");
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		gap: 0;
		opacity: 0.9;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		overflow: hidden;
		content: "";
		position: absolute;
		z-index: -1;

		@include mobile {
			background-position: center;
		}
	}

	background-color: #6e5c52;
	width: 100%;
	height: 100svh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
	flex: none;
	overflow: hidden;
	position: relative;

	.card {
		background-color: #fff;
		padding: 10px;

		&__animation {
			animation: slide-fade-in-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
				both;
		}

		@include mobile {
			width: 80%;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 32px;
		padding: 64px;
		border: 1px solid #cec5c0;

		@include mobile {
			padding: 32px 16px;
			gap: 16px;
		}

		&__top {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 32px;

			.leaf {
				width: 64px;
				height: 31px;

				@include mobile {
					width: 46px;
					height: 22px;
				}
			}

			&--texts {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 8px;

				.programa {
					font-family: Stoke;
					font-size: 18px;
					font-weight: 300;
					line-height: 24px;
					text-align: center;
					color: #908a87;

					@include mobile {
						font-size: 16px;
						line-height: 22px;
					}
				}

				.itinerario {
					font-family: Love, sans-serif;
					font-size: 84px;
					font-weight: 400;
					line-height: 90px;
					letter-spacing: -0.04em;
					text-align: center;
					color: #323226;

					@include mobile {
						font-size: 60px;
						line-height: 66px;
					}
				}
			}
		}

		.events_box {
			width: 100%;
		}

		.events {
			display: flex;
			justify-content: space-between;
			padding: 32px 8px;
			width: 100%;

			@include mobile {
				padding: 16px 0;
			}

			&:not(:last-child) {
				border-bottom: 1px solid var(--Light-Beige, #e7e0dc);
			}

			.name {
				font-family:
					League Spartan,
					sans-serif;
				font-size: 18px;
				font-weight: 500;
				line-height: 24px;
				text-align: left;
				color: var(--Base-Green, #323226);
			}

			span {
				font-family: Stoke;
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
				letter-spacing: 0.1em;
				text-align: right;
				color: var(--Base-Green, #323226);
			}
		}
	}
}
