@-webkit-keyframes slide-fade-in-bottom {
	0% {
		-webkit-transform: translateY(300px);
		transform: translateY(300px);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-fade-in-bottom {
	0% {
		-webkit-transform: translateY(300px);
		transform: translateY(300px);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@-webkit-keyframes slide-fade-in-bottom-2 {
	0% {
		-webkit-transform: translateY(800px);
		transform: translateY(800px);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-fade-in-bottom-2 {
	0% {
		-webkit-transform: translateY(800px);
		transform: translateY(800px);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes line-in-bottom {
	0% {
		-webkit-transform: translateY(500px);
		transform: translateY(500px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes line-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
