.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100%;
  background-color: #323226;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__logo {
    -webkit-animation: blink-2 1.5s infinite both;
    animation: blink-2 1.5s infinite both;
  }
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
