@import "src/shared/scss/_media-queries.scss";

.count_down {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	margin-top: -40px;
	border: 1px solid #fff;

	@include mobile {
		margin-top: 0;
		padding-top: 32px;
		gap: 36px;
	}

	&__content {
		padding: 32px 40px;
		display: flex;
		align-items: center;
		gap: 40px;

		.separator {
			width: 1px;
			height: 44px;
			background-color: #ffffff;
		}

		.labels {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;

			.label {
				font-family: Spartan, sans-serif;
				font-size: 16px;
				font-weight: 500;
				line-height: 22px;
				letter-spacing: 0.4em;
				text-align: center;
				padding-left: 8px;
			}
			.number {
				font-family: Stoke, sans-serif;
				font-size: 40px;
				font-weight: 400;
				line-height: 48px;
				text-align: center;
			}
		}
	}
}
