@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "src/shared/scss/media-queries";
@import "src/shared/scss/animations";

.container {
	//Importante para hacer que funcione el scroll
	width: 100%;
	height: 100svh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
	flex: none;
	background: #e7e0dc;

	.content {
		display: flex;
		gap: 230px;

		@include mobile {
			display: none;
		}

		&__line {
			width: 1px;
			height: 29px;
			background-color: #323226;
		}

		&__base {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 14px;
			max-width: 428px;

			&--place {
				font-family:
					League Spartan,
					sans-serif;
				font-size: 18px;
				font-weight: 300;
				line-height: 32px;
				text-align: center;
				color: #323226;

				b {
					font-family:
						League Spartan,
						sans-serif;
					font-size: 18px;
					font-weight: 500;
					line-height: 32px;
					text-align: center;
				}
			}

			&--text {
				display: flex;
				flex-direction: column;
				align-items: center;

				.hour {
					font-family: Stoke;
					font-size: 18px;
					font-weight: 300;
					line-height: 32px;
					letter-spacing: 0.56em;
					text-align: center;
					color: #302e2d;
				}

				.spot {
					font-family: Love, sans-serif;
					font-size: 84px;
					font-weight: 400;
					line-height: 90px;
					letter-spacing: -0.04em;
					text-align: center;
					color: #302e2d;
				}

				.name {
				}
			}
		}
	}
}

.mobile {
	display: none;

	@include mobile {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		gap: 40px;
		width: 100%;
		padding: 16px;
	}

	.card {
		position: relative;

		&__animation {
			animation: slide-fade-in-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		}
	}

	&__ceremonias {
		width: 100%;
		height: auto;
		position: relative;
	}

	.hour {
		position: absolute;
		top: 16px;
		left: 16px;
		border: 1px solid var(--Light-Beige, #e7e0dc);
		padding: 8px 12px;
		border-radius: 8px;
		background: #ffffff33;

		span {
			opacity: 1;
			font-family: Stoke;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			letter-spacing: 0.4em;
			text-align: left;
		}
	}

	.data {
		position: absolute;
		bottom: 24px;
		left: 16px;
		display: flex;
		flex-direction: column;
		gap: 8px;

		&__title {
			font-family: Stoke;
			font-size: 24px;
			font-weight: 300;
			line-height: 32px;
			color: #fff;
		}

		&__name {
			font-family:
				League Spartan,
				sans-serif;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			color: #fff;

			b {
				font-weight: 500;
			}
		}
	}

	&__marah {
		width: 100%;
		height: auto;
		position: relative;
	}
}
