.container {
	background-color: #e7e0dc;
	width: 100%;
	height: 100svh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	flex: none;

	&__box {
		padding: 32px 40px 32px 40px;
		gap: 10px;
		border: 1px solid #302e2d;

		.title {
			font-family: Love, sans-serif;
			font-size: 84px;
			font-weight: 400;
			line-height: 90px;
			letter-spacing: -0.04em;
			text-align: center;
			color: #302e2d;
		}
	}

	.line {
		width: 1px;
		height: 124px;
		background-color: #302e2d;
	}
}

.text {
	max-width: 767px;
	display: flex;
	flex-direction: column;
	gap: 18px;

	&__title {
		font-family:
			League Spartan,
			sans-serif;
		font-size: 18px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: 0.42em;
		text-align: center;
		color: #302e2d;
	}

	&__paragraph {
		font-family:
			League Spartan,
			sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 32px;
		text-align: center;
		color: #302e2d;

		b {
			font-family:
				League Spartan,
				sans-serif;
			font-size: 18px;
			font-weight: 500;
			line-height: 32px;
			text-align: center;
		}
	}
}
