.container {
	&:before {
		background-image: url("/vestimenta/vestimenta.jpg");
		width: 2645px;
		height: 3967px;
		top: -1347px;
		left: -656px;
		gap: 0px;
		opacity: 0.28;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		overflow: hidden;
		content: "";
		position: absolute;
		z-index: -1;
	}

	background-color: rgba(48, 46, 45, 1);
	width: 100%;
	height: 100svh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	flex: none;
	overflow: hidden;
	position: relative;

	&__box {
		padding: 32px 40px 32px 40px;
		gap: 10px;
		border: 1px solid #e7e0dc;

		.title {
			font-family: Love, sans-serif;
			font-size: 84px;
			font-weight: 400;
			line-height: 90px;
			letter-spacing: -0.04em;
			text-align: center;
			color: #e7e0dc;
		}
	}

	.line {
		width: 1px;
		height: 124px;
		background-color: #e7e0dc;
	}
}

.text {
	max-width: 767px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 18px;

	&__title {
		font-family:
			League Spartan,
			sans-serif;
		font-size: 18px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: 0.42em;
		text-align: center;
		color: #e7e0dc;
	}

	&__paragraph {
		font-family:
			League Spartan,
			sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 32px;
		text-align: center;
		color: #e7e0dc;

		b {
			font-family:
				League Spartan,
				sans-serif;
			font-size: 18px;
			font-weight: 500;
			line-height: 32px;
			text-align: center;
		}
	}
}
