@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap");
@import "src/shared/scss/media-queries";
@import "src/shared/scss/animations";

.container {
	//Importante para hacer que funcione el scroll
	width: 100%;
	height: 100svh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	scroll-snap-align: center;
	flex: none;
	background: #e7e0dc;

	@include mobile {
		justify-content: center;
	}

	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		gap: 16px;

		@include mobile {
			justify-content: center;
		}

		.top {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 8px;

			&__head {
				display: flex;
				align-items: center;
				gap: 36px;

				@include mobile {
					flex-direction: column;
					gap: 16px;
				}

				.line {
					display: none;

					@include mobile {
						display: block;
						height: 64px;
						width: 1px;
						background-color: #302e2d;
					}
				}

				.title {
					font-family: Love, sans-serif;
					font-size: 84px;
					font-weight: 400;
					line-height: 90px;
					letter-spacing: -0.04em;
					text-align: left;
					color: #302e2d;

					@include mobile {
						font-size: 54px;
						line-height: 60px;
						text-align: center;
					}
				}

				.right {
					display: flex;
					flex-direction: column;
					gap: 36px;

					@include mobile {
						padding: 16px;
						width: calc(100% - 36px);
					}

					&__text {
						font-family: Spartan, sans-serif;
						font-size: 16px;
						font-weight: 300;
						line-height: 32px;
						text-align: left;
						color: #302e2d;
					}

					&__btns {
						display: flex;
						gap: 16px;

						&--animation {
							animation: fade-in 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
						}

						@include mobile {
							flex-direction: column;
						}

						.btn {
							border: 1px solid var(--Dark-Text, #302e2d);
							border-radius: 46px;
							padding: 16px 32px;
							display: flex;
							align-items: center;
							justify-content: center;

							span {
								font-family: Spartan, sans-serif;
								font-size: 16px;
								font-weight: 500;
								line-height: 17.92px;
								text-align: left;
								color: #302e2d;
							}
						}
					}
				}
			}
		}

		&__line {
			width: 1px;
			height: 105px;
			background-color: #302e2d;

			@include mobile {
				display: none;
			}
		}

		&__img {
			width: 100%;
			height: auto;

			@include mobile {
				display: none;
			}
		}
	}
}
