@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "src/shared/scss/media-queries";
@import "src/shared/scss/animations";

.nosotros {
	width: 100%;
	height: 100svh;
	background-color: #e7e0dc;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	flex: none;

	@include mobile {
		padding-top: 90px;
		justify-content: flex-start;
	}

	&__content {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 100%;
		overflow: hidden;

		@include mobile {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&__container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 40px;
				width: 80%;

				@include mobile {
					gap: 12px;
				}

				&--animation {
					-webkit-animation: slide-in-bottom 1.5s
						cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
					animation: slide-fade-in-bottom 1.5s
						cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
				}
			}

			&__paragraph {
				font-family: Spartan, sans-serif;
				font-size: 18px;
				font-weight: 300;
				line-height: 32px;
				text-align: left;
				color: #302e2d;

				@include mobile {
					font-size: 14px;
					line-height: 22px;
				}
			}

			&__title {
				font-family: Love, sans-serif;
				font-size: 94px;
				font-weight: 400;
				line-height: 112px;
				letter-spacing: -0.04em;
				text-align: left;
				color: #302e2d;

				@include mobile {
					font-family: Love, sans-serif;
					font-size: 48px;
					font-weight: 400;
					line-height: 50px;
					letter-spacing: -0.04em;
					text-align: left;
					color: #302e2d;
				}
			}
		}

		.image {
			width: 100%;
			height: auto;

			@include mobile {
				display: none;
			}

			&__mobile {
				width: 100%;
				height: auto;
			}
		}
	}
}

.mobile {
	position: relative;
	width: 100%;
	height: auto;
	display: none;

	@include mobile {
		display: block;
	}

	&__date {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		padding: 8px 16px;
		background-color: #e7e0dc;
		border: 1px solid var(--Med-Beige, #908a87);
		width: fit-content;
		border-radius: 100px;

		span {
			display: flex;
			gap: 8px;
			align-items: center;
			font-family: Stoke;
			font-size: 16px;
			font-weight: 300;
			line-height: 22.5px;
			text-align: left;
			color: #000;
		}
	}
}
