.invitamos {
	&:before {
		background-image: url("/invitamos/invitamos.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		overflow: hidden;
		opacity: 0.8;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	width: 100%;
	height: 100svh;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
	flex: none;
	overflow: hidden;
	position: relative;

	&__content {
		display: grid;
		grid-template-columns: 0.85fr 1fr;

		.right {
			border-left: 1px solid #fff;

			&__container {
				padding-left: 64px;
				display: flex;
				flex-direction: column;
				gap: 28px;
				max-width: 702px;

				h3 {
					font-family: Love, sans-serif;
					font-size: clamp(56px, 7vw, 94px);
					font-weight: 400;
					line-height: 100px;
					letter-spacing: -0.04em;
					text-align: left;
				}

				p {
					font-family:
						League Spartan,
						sans-serif;
					font-size: 18px;
					font-weight: 300;
					line-height: 32px;
					text-align: left;
				}

				span {
					font-family: Stoke, sans-serif;
					font-size: clamp(12px, 2vw, 18px);
					font-weight: 300;
					line-height: 24px;
					letter-spacing: 1.06em;
					text-align: left;
				}
			}
		}
	}
}
